



@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Caveat:wght@400..700&family=Indie+Flower&family=Lacquer&family=Permanent+Marker&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');


 
      #navbar{
        font-family: "Indie Flower", cursive;
     
      }

      #sub-main{
        font-family: "Zen Loop", cursive;
      
      }

      #about{
        font-family: "Zen Loop", cursive;
        font-weight: 400;
        
        font-style: normal;
      }
      #img-sub{
        font-family: "Zen Loop", cursive;
       line-height: 1.4;
        font-size:30px;
      }

.padding{
  padding-top: 180px;
  
}


